body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: #333333;
}

p{
    margin: 0 0;
}

em,i{
    font-style: normal;
}

ul{
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

img{
  vertical-align: middle;
}

/* 初始化font-size*/
@media screen and (min-width:750px){
    html{font-size:100px;}
}
@media screen and (min-width:601px) and (max-width:639px){
    html{font-size:80.1333px;}
}
@media screen and (min-width:551px) and (max-width:600px){
    html{font-size:73.4667px;}
}
@media screen and (min-width:501px) and (max-width:550px){
    html{font-size:66.8px;}
}
@media screen and (min-width:451px) and (max-width:500px){
    html{font-size:60.1333px;}
}
@media screen and (min-width:414px) and (max-width:450px){
    html{font-size:55.2px;}
}
@media screen and (min-width:375px) and (max-width:413px){
    html{font-size:50px;}
}
@media screen and (min-width:360px) and (max-width:374px){
    html{font-size:48px;}
}
@media screen and (min-width:320px) and (max-width:359px){
    html{font-size:42.6667px;}
}

.app {
  width: 100vw;
  min-height: calc(100vh - 1rem);
  font-size: 0.24rem;
  padding-bottom: 1rem;
  background-color: #f0f0f0;
}

.app footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.24rem;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.99rem;
  border-top: 1px solid #dadada;
  background-color: #ffffff;
  width: 100vw;
}

.app footer a{
  display: block;
  width: 25vw;
  height: 0.99rem;
  color: #333333;
}

.app footer .home,
.app footer .category,
.app footer .discover,
.app footer .my{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.app footer .home::before,
.app footer .category::before,
.app footer .discover::before,
.app footer .my::before{
  content: '';
  display: block;
  width: 0.47rem;
  height: 0.43rem;
  margin: 0.1rem 0 0.06rem 0;
}

.app footer .home::before{
  background: url('../assets/home.png') no-repeat center;
  background-size: 100%;
}

.app footer .category::before{
  background: url('../assets/category.png') no-repeat center;
  background-size: 100%;
}

.app footer .discover::before{
  background: url('../assets/discover.png') no-repeat center;
  background-size: 100%;
}

.app footer .my::before{
  background: url('../assets/my.png') no-repeat center;
  background-size: 100%;
}

.app footer .current.home::before{
  background: url('../assets/home_active.png') no-repeat center;
  background-size: 100%;
}

.app footer .current.category::before{
  background: url('../assets/category_active.png') no-repeat center;
  background-size: 100%;
}
.app footer .current.discover::before{
  background: url('../assets/discover_active.png') no-repeat center;
  background-size: 100%;
}
.app footer .current.my::before{
  background: url('../assets/my_active.png') no-repeat center;
  background-size: 100%;
}

.app footer .current{
  color: #e60000;
}

.text-danger{
    color: #e60000;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.34rem;
    min-height: 0.9rem;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}

.nav-bar .back{
  position: absolute;
  left: 0.25rem;
  top: 0.28rem;
  width:0.2rem;
  height: 0.34rem;
  background: url('../assets/back.png') no-repeat center;
  background-size: 100%;
}

.nav-bar .more{
  position: absolute;
  right: 0.25rem;
  top: 0.4rem;
  width: 0.36rem;
  height: 0.08rem;
  background: url('../assets/more.png') no-repeat center;
  background-size: 100%;
}

.search-box {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 0.25rem;
}

.search-box input {
    height: 0.66rem;
    padding-left: 0.66rem;
    border: 0.02rem solid #f0f0f0;
    font-size: 0.24rem;
}

.search-box::before {
    content: '';
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    background: url('../assets/search_gray.png') no-repeat center;
    background-size: 100%;
    left: 0.45rem;
    top: 0.19rem;
}

.close-btn{
    width: 0.3rem;
    height: 0.28rem;
    background: url('../assets/close.png') no-repeat center;
    background-size: 100%;
}

.check-circle-o::before {
    background: url('../assets/check_o.png') no-repeat center;
    background-size: 100%;
}

.check-circle::before {
    background: url('../assets/check.png') no-repeat center;
    background-size: 100%;
}

.xmt::after {
    content: '';
    display: inline-block;
    width: 1.1rem;
    height: 0.34rem;
    background: url('../assets/xmt.jpg') no-repeat center;
    background-size: 100%;
    vertical-align: -0.06rem;
    margin-left: 0.1rem;
}

.circle-back {
    position: absolute;
    left: 0.14rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background: url('../assets/circle_back.png') no-repeat center;
    background-size: 100%;
}

.circle-more {
    position: absolute;
    right: 0.14rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background: url('../assets/circle_more.png') no-repeat center;
    background-size: 100%;
}
