.search .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
    color: #333;
    background-color: #fff;
    height: 0.9rem;
    position: relative;
}

.search .back {
    position: absolute;
    left: 0.25rem;
    top: 0.28rem;
}

.search .top-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search .top-bar ul li {
    margin: 0 0.45rem;
}

.search .top-bar ul .active {
    color: #e60000;
    position: relative;
}

.search .top-bar ul .active::after {
    content: '';
    position: absolute;
    width: 0.58rem;
    height: 0.04rem;
    background-color: #e60000;
    bottom: -0.1rem;
    left: 0;
}

.search-box {
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}

.search-box input {
    width: calc(100% - 1.16rem);
    height: 0.66rem;
    padding-left: 0.66rem;
    border: 0.02rem solid #f0f0f0;
}

.search-box::before {
    content: '';
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    background: url('../assets/search_gray.png') no-repeat center;
    background-size: 100%;
    left: 0.45rem;
    top: 0.19rem;
}

.search .hot {
    background-color: #fff;
    padding: 0.34rem 0 0 0.25rem;
}

.search .hot>p {
    font-size: 0.26rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.search .hot>p::before {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.31rem;
    background: url('../assets/fire.png') no-repeat center;
    background-size: 100%;
    margin-right: 0.1rem;
}

.search .hot>.search-wrap,
.search .lately>.search-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search .hot>.search-wrap a {
    display: block;
    padding: 0.15rem 0.41rem;
    border: 1px solid #f0f0f0;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.05rem;
}

.search .lately {
    background-color: #fff;
    margin-top: 0.2rem;
    padding-left: 0.25rem;
}

.search .lately>p {
    font-size: 0.26rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    padding: 0.25rem 0.25rem;
    border-bottom: 1px solid #f0f0f0;
}
.search .lately>p .sweep{
    width: 0.3rem;
    height: 0.34rem;
    background: url('../assets/trash.png') no-repeat center;
    background-size: 100%;
}

.search .lately>.search-wrap a {
    display: block;
    padding: 0.16rem 0.42rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: #f0f0f0;
    border-radius: 0.05rem;
}
